openapi: 3.0.1
info:
  title: Face-Similarity-Evaluator 
  description:  |
    ## Face-Similarity-Evaluator
    ---
    How to use:
      * Pick two images
      * Excute and wait until the result shows up
      
  version: 1.0.0
  license:
    name: "MIT"
    url: ""
servers:
  - url: 'https://face-similarity-evaluator.vyvydkf628.endpoint.ainize.ai'

paths:
  /detect:
    post:
      tags:
      - Face-Similarity-Evaluator
      requestBody:
        required: true
        description: "send two images \n \n [sample image one](https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) \n \n [sample image two](https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)"
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_1:
                  type: string
                  format: binary
                image_2:
                  type: string
                  format: binary

            encoding:
              files:
                contentType: image/*
      responses:
         '200':
            description: success
            content:
              images/*:
                  schema:
                    type: string
                    format: binary
         '400':
            description: Bad request (Can not load images)
         '500':
            description: Server Side Error